body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
}

@media (min-width: 576px) {
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-weight: 700;
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-weight: 700;
    font-size: 4rem;
    padding: 30px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 4rem;
  }
}

h1 {
  font-weight: 700;
  /*font-size: 2.5rem;*/
}

.container {
  width: 100%;
  height: 100vh;
}

@media (min-width: 576px) {
  .btn.btn-primary {
    font-size: 1.5rem;
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .btn.btn-primary {
    font-size: 1.9em;
    margin-top: px !important;
  }
}

.btn.btn-primary {
  /*font-size: 1.2em;*/
  margin-top: 30px;
}

a:hover {
  color: #FF3F80;
}

.made-with {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

span {
  text-align: center;
}

